.weather-border {
  max-width: 500px;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  background-image: url();
}

.all-wrap {
  max-width: 500px;
  margin: 10px auto;

}
h1 {
  color: #70757a;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 800;
}
.list {
  margin-bottom: 20px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
img {
  margin-right: 12px;
}
.weather-img strong {
  font-family: Google Sans, arial, sans-serif;
  font-size: 48px;
  line-height: 50px;
}
.signs { 
  font-style: normal;
  font-size: 15px;
font-weight: 500;
  vertical-align: top;
    
}

.col-8 {
  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
}
/* .cel {
  
  color: black;
}
.far {
  
  color: #70757a;
} */
